<div class="container text-center pt-5">
    <div class="spinner-grow text-info" role="status" *ngIf="estaCarregando">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="erroNoCarregamento">
        <h2>Deu erro :(</h2>
        <button (click)="carregarExtrato()" class="btn btn-info mt-4">Tentar novamente</button>
    </div>

    <table class="table" *ngIf="!estaCarregando && !erroNoCarregamento">
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Categoria</th>
        </tr>

        <tr *ngFor="let transacao of transacoes">
            <td> {{ transacao.id }} </td>
            <td> {{ transacao.data | date: 'dd-MM-yy'}} </td>
            <td> {{ transacao.descricao }} </td>
            <td> {{ transacao.valor | currency: 'BRL'}} </td>
            <td> {{ transacao.categoria }} </td>
        </tr>
    </table>
</div>