<div class="container text-center pt-5">
    <div class="spinner-grow text-info" role="status" *ngIf="estaCarregando">
        <span class="sr-only">Loading...</span>
    </div>

    <button class="btn btn-info mb-4" (click)="novoContato()">Novo Contato</button>

    <div *ngIf="erroNoCarregamento">
        <h2>Deu erro :(</h2>
        <button (click)="carregarContato()" class="btn btn-info mt-4">Tentar novamente</button>
    </div>

    <div *ngIf="!estaCarregando && !erroNoCarregamento">

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th></th>
            </tr>

            <tr *ngFor="let contato of contatos">
                <td> {{ contato.id }} </td>
                <td> {{ contato.nome }} </td>
                <td>
                    <button class="btn btn-info mx-2" (click)="abrirDetalhes(contato.id)">Detalhes</button>
                    <button class="btn btn-danger mx-2" (click)="deletarContato(contato.id)">Deletar</button>
                </td>
            </tr>
        </table>
    </div>
</div>