<div class="text-center">

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">

        <div class="p-2">
            <input
            type="email" class="form-control"
            placeholder="Email" name="email"
            [(ngModel)]="email" email required />
            <span class="alertError" *ngIf="exibeErro('email', form)"> E-mail inválido</span>
        </div>

        <div class="p-2">
            <input
            type="password" class="form-control"
            placeholder="Senha" name="password"
            [(ngModel)]="password" required />
            <span class="alertError" *ngIf="exibeErro('password', form)"> Senha inválida</span>

        </div>

        <div class="p-2">
            <button class="btn btn-lg btn-info btn-block" type="submit">Entrar</button>
        </div> 
    </form> 
</div>
