<div class="container text-center pt-5">
    <div class="spinner-grow text-info" role="status" *ngIf="estaCarregando">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="erroNoCarregamento">
        <h2>Deu erro :(</h2>
        <button (click)="carregarContato()" class="btn btn-info mt-4">Tentar novamente</button>
    </div>

    <div *ngIf="!estaCarregando && !erroNoCarregamento">

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Banco</th>
                <th>Agência</th>
                <th>Conta Corrente</th>
            </tr>

            <tr *ngFor="let contato of contatos">
                <td> {{ contato.id }} </td>
                <td> {{ contato.nome }} </td>
                <td> {{ contato.cpf }} </td>
                <td> {{ contato.banco }} </td>
                <td> {{ contato.ag }} </td>
                <td> {{ contato.cc }} </td>

            </tr>
        </table>
    </div>
</div>