<h1>Mercado Super</h1>
<br />
<ul>
    <li *ngFor="let compra of compras">
        <p>Produto: <b>{{compra.produto | uppercase}}</b></p>
        <p>Valor: {{compra.valor | currency:'BRL'}}</p>
        <p>Qunatidade: {{compra.quantidade}}</p>

        <!-- Usando apenas Pipe
        <p>Peso: {{compra.peso | number:'1.1-2'}} Kg</p> -->

        <!-- Usando if para verificar se tem peso + pipe
        <p>Peso: {{compra.peso >0 ? (compra.peso | number:'1.1-2') + ' Kg' : '*'}}</p> -->

        <!-- Usando uma função para verificar e formatar -->
        <p>Peso: {{ getPesoFormatado(compra.peso) }}</p>
        
        <p>Data: {{compra.data | date:'EEEE, dd \'de\' MMMM \'de\' yyyy, \' às\' HH:mm'}}</p>

        <!-- Usando 2 pipes para formatar
        <p>Data: {{compra.data | date:'fullDate'}}, às {{compra.data | date:'HH:mm'}}</p> -->
        <hr>
    </li>
</ul>